form {
    padding-bottom: 16px;
}

input[type=text] {
    padding:5px; 
    margin-right: 16px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc;
    font-weight: bold;
    border:0 none;
    cursor:pointer;
    border-radius: 6px; 
}